.main-grid{
    display: inline-block;
    height: 200px;
    width: 200px;
    padding: 10px 10px;
    border: solid;
    border-width: 2px;
    border-color: lightgray;
    background-color: rgb(239, 239, 219);
}

.line-grid{

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.num-btn{

    flex:1;

    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    background-color: rgb(84, 51, 229);
    color: white;
    transition: 0.15ms all;
    margin: 4px 4px ;

}

.num-btn:hover{

    opacity: 0.80;
}

.num-btn:active{

    transform: translateY(2px);
}